<% var path = '.' %>
<!doctype html>
<html>

<head>
	<title>ランキングからレシピ登録 - week dinner</title>
	<meta name="Description" content="">
	<meta name="Keywords" content="">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=yes">
	<link rel="shortcut icon" type="image/x-icon" href="<%= path %>/assets/img/favicon.ico">
</head>

<body>
	<%- include('./modules/header.ejs', {path}) %>

	<section class="wrapper">
		<div class="contents">
			<div class="contents-wrapper">
				<h2 class="contents-title">ランキングからレシピ登録</h2>
				<p class="contents-title_discription">
					カテゴリ別ランキングから、お好きなレシピを選んで登録できます
				</p>
				<ul class="rank_list">
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="30">人気メニュー</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="31">定番の肉料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="32">定番の魚料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="33">卵料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="14">ご飯もの</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="15">パスタ</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="16">麺・粉物料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="17">汁物・スープ</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="23">鍋料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="10">肉</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="11">魚</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="38">今日の献立</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="39">健康料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="41">中華料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="42">韓国料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="43">イタリア料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="44">フランス料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="25">西洋料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="46">エスニック料理・中南米</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="47">沖縄料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="48">日本各地の郷土料理</a>
					</li>
					<li class="rank_list-item js-rank">
						<a href="javascript:void(0);" class="rank_list-link js-modal_rank_button" data-id="24">行事・イベント</a>
					</li>
				</ul>
			</div>
		</div>

		<%- include('./modules/footer.ejs') %>
	</section>

	<%- include('./modules/rankModal.ejs') %>
	<%- include('./modules/modal.ejs', {path}) %>
</body>
</html>